# Для хранения ключей доступа к внешним ресурсам создайте файл .env в корневой директории проекта
# Заполните .env файл в соответствии с настоящим шаблоном, заменив значения переменных на соответствующие личные данные.

# API-ключи
exchangerates_API_KEY=your_personal_key  # Ключ для сервиса конвертации валют https://marketplace.apilayer.com/
